.button {
    -fx-font-weight: bold;
}

.text-area   {
   -fx-text-fill: white;
    -fx-font-size: 11pt;
}

.text-area .content {
    -fx-background-color: #000000;    
}

.storeAnchorPane {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 2%;
}